<div class="col-xs-12"> 
  <h1 class="text-center page-title">  My Address book </h1>
</div>
<div class="col-xs-12 contact-list">
    <a href="#/addContact" class="add-cont-btn btn btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span> Add New Contact</a>
    <ul class="list-group">
        <li class="list-group-item text-center clearfix" ng-repeat="contact in addressContacts | orderBy: 'contactName' ">
           <sa-list-items></sa-list-items>
        </li>
    </ul>
    <footer>
        <span>Total Contacts: {{addressContacts.length}} </span>
    </footer>
</div>