<div class="col-xs-12"> 
  <h1 class="text-center page-title">  My Address book </h1>
</div>
<div class="col-xs-12 viewcontact table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
               <th>Name</th>
                <td>{{addressContact.contactName}}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{addressContact.contactNo}}</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
    <a href="#/" class="btn btn-default btn-lg btn-block">
        <span class="glyphicon glyphicon-arrow-left"></span> BACK
    </a>
</div>
</div>
